<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "sammy/lib/sammy.js", "sammy/lib/plugins/sammy.template.js", "users.js"  %>
<div id="main">
</div>
<hr/>
<%= link_to collection_url, :format=>:json %>
